<manifest>
  <application>
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDHIQoHjcVR0RsyKG-U5myMIpdPqK6n-m0"/>
  </application>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
</manifest>
