<key>GMSApiKey</key>
<string>AIzaSyDHIQoHjcVR0RsyKG-U5myMIpdPqK6n-m0</string>

<key>NSLocationWhenInUseUsageDescription</key>
<string>We need access to your location for navigation purposes.</string>

<key>NSLocationAlwaysUsageDescription</key>
<string>This app requires your location to provide real-time navigation.</string>

<key>UIBackgroundModes</key>
<array>
  <string>location</string>
</array>

<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>We need your location for better navigation.</string>
